<!doctype html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
<%- include('./partials/navbar'); %>
<div class="container">
    <h1>Main Page</h1>
</div>
<script>
    fetch('/api/categories').then((response) => {
        return response.json()
    }).then((data) => {
        console.log(data);
    });
</script>
</body>
</html>